
<% flash.each do |type, msg| %>
  <div class="flashmessage">
  <br>
    <%= msg %>
  </div>
<% end %>

<div id="sessionform">
<h3>Log In </h3>
<%= form_for(:user, url: login_path) do |f| %>
<%= f.label :email %>
<%= f.text_field :email %><br>
<%= f.label :password %>
<%= f.password_field :password %><br>
<%= f.submit 'log in', :class => "button"%>
<% end %>
<h3>Or log in in with Google or Facebook:</h3>
<div class="imagesicons">
<%= link_to image_tag("googleicon.png", {:style => "width:4%;"}), '/auth/google_oauth2' %>
<%= link_to image_tag("fbicon.png", {:style => "width:4%;"}), '/auth/facebook' %>
</div>
</div>
