<div class="userform">
<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  
</ul>
<% end %>
<h3>SIGN UP: </h3>
<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :email %>
<%= f.text_field :email %><br>
<%= f.label "Password (minimum of 6 characters)" %>
<%= f.password_field :password %><br>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %><br>
<%= f.submit "create user", :class => "button" %>
<% end %>

<h3>Or sign in with Google or Facebook:</h3>
<div class="imagesicons">
<%= link_to image_tag("googleicon.png", {:style => "width:4%;"}), '/auth/google_oauth2' %>
<%= link_to image_tag("fbicon.png", {:style => "width:4%;"}), '/auth/facebook' %>
</div>
</div>