<div id="user-show">
<h1><%= image_tag("pawprint.png", {:style => "width:4%;"}) %> Welcome <%= @user.name.capitalize %> <%= image_tag("pawprint.png", {:style => "width:4%;"}) %></h1>
<h3>My Pets:</h3>
<div class="recipe-page">
<ul><% @user.pets.each do |pet|%>
<li><%= link_to pet.name, user_pet_path(pet.user_id, pet) %> - <%= pet.pet_category.name %></li>

<% end %>
</ul>
<h4><%= link_to "Add a Pet", new_user_pet_path(current_user) %></h4>
<h3>My Recipes:</h3>

<ul><% @user.recipes.each do |recipe|%>
<li><%= link_to recipe.title, user_recipe_path(recipe.user_id, recipe) %></li>
<% end %>
</ul>
<h4><%= link_to "Add a Recipe", new_user_recipe_path(current_user) %></h4>
</div>
</div>