<!DOCTYPE html>
<html>
  <head>
    <title>BoneAppetit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="container">
  <header> <h1><%= image_tag("fish.png", {:style => "width:4%;"}) %> <%= link_to "BONE-APPETIT", root_path %></h1>
  <nav class="stroke">
  <ul>
  <li><%= link_to "Sign Up", signup_path %></li>
  <li><%= link_to "Log In", login_path %></li>
  <li><%= link_to :recipes, recipes_path %></li>
   <% if current_user %>
    <li>
      <%= link_to "Create Recipe", new_recipe_path %>
    </li>
    <li>
      <%= link_to "My Page", user_path(current_user)%>
    </li>
    <li>
      <%= link_to "Log Out", logout_path, method: :post %>
    </li>
    <% end %>
  </ul>
  </nav>
  </header>
    <%= yield %>
    <footer><p>&copy;CandiceCodes</p></footer>
    </div>
  </body>
</html>
